/.idea/misc.xml
/target/*
/.idea/*
/.spark-warehouse/*
/.idea/hydra.xml
/.idea/libraries/sbt__antlr_antlr_2_7_7_jar.xml
/.idea/libraries/sbt__aopalliance_aopalliance_1_0_jar.xml
/.idea/libraries/sbt__asm_asm_3_1_jar.xml
/.idea/libraries/sbt__com_carrotsearch_hppc_0_7_2_jar.xml
/.idea/libraries/sbt__com_clearspring_analytics_stream_2_7_0_jar.xml
/.idea/libraries/sbt__com_esotericsoftware_kryo_shaded_3_0_3_jar.xml
/.idea/libraries/sbt__com_esotericsoftware_minlog_1_3_0_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_6_7_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_6_7_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_6_7_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_paranamer_2_7_9_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_11_2_6_7_1_jar.xml
/.idea/libraries/sbt__com_github_luben_zstd_jni_1_3_2_2_jar.xml
/.idea/libraries/sbt__com_google_code_findbugs_jsr305_3_0_2_jar.xml
/.idea/libraries/sbt__com_google_code_gson_gson_2_2_4_jar.xml
/.idea/libraries/sbt__com_google_guava_guava_11_0_2_jar.xml
/.idea/libraries/sbt__com_google_inject_extensions_guice_servlet_3_0_jar.xml
/.idea/libraries/sbt__com_google_inject_guice_3_0_jar.xml
/.idea/libraries/sbt__com_google_protobuf_protobuf_java_2_5_0_jar.xml
/.idea/libraries/sbt__com_googlecode_javaewah_JavaEWAH_0_3_2_jar.xml
/.idea/libraries/sbt__com_jamesmurty_utils_java_xmlbuilder_1_1_jar.xml
/.idea/libraries/sbt__com_jolbox_bonecp_0_8_0_RELEASE_jar.xml
/.idea/libraries/sbt__com_ning_compress_lzf_1_0_3_jar.xml
/.idea/libraries/sbt__com_sun_xml_bind_jaxb_impl_2_2_3_1_jar.xml
/.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
/.idea/libraries/sbt__com_twitter_chill_2_11_0_8_4_jar.xml
/.idea/libraries/sbt__com_twitter_chill_java_0_8_4_jar.xml
/.idea/libraries/sbt__com_twitter_parquet_hadoop_bundle_1_6_0_jar.xml
/.idea/libraries/sbt__com_univocity_univocity_parsers_2_5_9_jar.xml
/.idea/libraries/sbt__com_vlkan_flatbuffers_1_2_0_3f79e055_jar.xml
/.idea/libraries/sbt__commons_beanutils_commons_beanutils_1_7_0_jar.xml
/.idea/libraries/sbt__commons_beanutils_commons_beanutils_core_1_8_0_jar.xml
/.idea/libraries/sbt__commons_cli_commons_cli_1_2_jar.xml
/.idea/libraries/sbt__commons_codec_commons_codec_1_13_jar.xml
/.idea/libraries/sbt__commons_collections_commons_collections_3_2_2_jar.xml
/.idea/libraries/sbt__commons_configuration_commons_configuration_1_6_jar.xml
/.idea/libraries/sbt__commons_dbcp_commons_dbcp_1_4_jar.xml
/.idea/libraries/sbt__commons_digester_commons_digester_1_8_jar.xml
/.idea/libraries/sbt__commons_httpclient_commons_httpclient_3_1_jar.xml
/.idea/libraries/sbt__commons_io_commons_io_2_4_jar.xml
/.idea/libraries/sbt__commons_lang_commons_lang_2_6_jar.xml
/.idea/libraries/sbt__commons_logging_commons_logging_1_2_jar.xml
/.idea/libraries/sbt__commons_net_commons_net_2_2_jar.xml
/.idea/libraries/sbt__commons_pool_commons_pool_1_5_4_jar.xml
/.idea/libraries/sbt__io_airlift_aircompressor_0_8_jar.xml
/.idea/libraries/sbt__io_dropwizard_metrics_metrics_core_3_1_5_jar.xml
/.idea/libraries/sbt__io_dropwizard_metrics_metrics_graphite_3_1_5_jar.xml
/.idea/libraries/sbt__io_dropwizard_metrics_metrics_json_3_1_5_jar.xml
/.idea/libraries/sbt__io_dropwizard_metrics_metrics_jvm_3_1_5_jar.xml
/.idea/libraries/sbt__io_netty_netty_3_9_9_Final_jar.xml
/.idea/libraries/sbt__io_netty_netty_all_4_1_18_Final_jar.xml
/.idea/libraries/sbt__javax_activation_activation_1_1_1_jar.xml
/.idea/libraries/sbt__javax_annotation_javax_annotation_api_1_2_jar.xml
/.idea/libraries/sbt__javax_inject_javax_inject_1_jar.xml
/.idea/libraries/sbt__javax_jdo_jdo_api_3_0_1_jar.xml
/.idea/libraries/sbt__javax_servlet_javax_servlet_api_3_1_0_jar.xml
/.idea/libraries/sbt__javax_transaction_jta_1_1_jar.xml
/.idea/libraries/sbt__javax_validation_validation_api_1_1_0_Final_jar.xml
/.idea/libraries/sbt__javax_ws_rs_javax_ws_rs_api_2_0_1_jar.xml
/.idea/libraries/sbt__javax_xml_bind_jaxb_api_2_2_2_jar.xml
/.idea/libraries/sbt__javax_xml_stream_stax_api_1_0_2_jar.xml
/.idea/libraries/sbt__javolution_javolution_5_5_1_jar.xml
/.idea/libraries/sbt__jline_jline_2_12_jar.xml
/.idea/libraries/sbt__joda_time_joda_time_2_9_9_jar.xml
/.idea/libraries/sbt__junit_junit_4_8_1_jar.xml
/.idea/libraries/sbt__log4j_apache_log4j_extras_1_2_17_jar.xml
/.idea/libraries/sbt__log4j_log4j_1_2_17_jar.xml
/.idea/libraries/sbt__mysql_mysql_connector_java_5_1_47_jar.xml
/.idea/libraries/sbt__net_hydromatic_eigenbase_properties_1_1_5_jar.xml
/.idea/libraries/sbt__net_iharder_base64_2_3_8_jar.xml
/.idea/libraries/sbt__net_java_dev_jets3t_jets3t_0_9_4_jar.xml
/.idea/libraries/sbt__net_razorvine_pyrolite_4_13_jar.xml
/.idea/libraries/sbt__net_sf_jpam_jpam_1_1_jar.xml
/.idea/libraries/sbt__net_sf_opencsv_opencsv_2_3_jar.xml
/.idea/libraries/sbt__net_sf_py4j_py4j_0_10_6_jar.xml
/.idea/libraries/sbt__net_sf_supercsv_super_csv_2_2_0_jar.xml
/.idea/libraries/sbt__org_antlr_ST4_4_0_4_jar.xml
/.idea/libraries/sbt__org_antlr_antlr4_runtime_4_7_jar.xml
/.idea/libraries/sbt__org_antlr_antlr_runtime_3_4_jar.xml
/.idea/libraries/sbt__org_antlr_stringtemplate_3_2_1_jar.xml
/.idea/libraries/sbt__org_apache_arrow_arrow_format_0_8_0_jar.xml
/.idea/libraries/sbt__org_apache_arrow_arrow_memory_0_8_0_jar.xml
/.idea/libraries/sbt__org_apache_arrow_arrow_vector_0_8_0_jar.xml
/.idea/libraries/sbt__org_apache_avro_avro_1_7_7_jar.xml
/.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_jar.xml
/.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_tests_jar.xml
/.idea/libraries/sbt__org_apache_avro_avro_mapred_1_7_7_hadoop2_jar.xml
/.idea/libraries/sbt__org_apache_calcite_calcite_avatica_1_2_0_incubating_jar.xml
/.idea/libraries/sbt__org_apache_calcite_calcite_core_1_2_0_incubating_jar.xml
/.idea/libraries/sbt__org_apache_calcite_calcite_linq4j_1_2_0_incubating_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_compress_1_4_1_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_crypto_1_0_0_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_lang3_3_5_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_math3_3_4_1_jar.xml
/.idea/libraries/sbt__org_apache_curator_curator_client_2_6_0_jar.xml
/.idea/libraries/sbt__org_apache_curator_curator_framework_2_6_0_jar.xml
/.idea/libraries/sbt__org_apache_curator_curator_recipes_2_6_0_jar.xml
/.idea/libraries/sbt__org_apache_derby_derby_10_12_1_1_jar.xml
/.idea/libraries/sbt__org_apache_directory_api_api_asn1_api_1_0_0_M20_jar.xml
/.idea/libraries/sbt__org_apache_directory_api_api_util_1_0_0_M20_jar.xml
/.idea/libraries/sbt__org_apache_directory_server_apacheds_i18n_2_0_0_M15_jar.xml
/.idea/libraries/sbt__org_apache_directory_server_apacheds_kerberos_codec_2_0_0_M15_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_annotations_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_auth_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_client_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_common_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_hdfs_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_mapreduce_client_app_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_mapreduce_client_common_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_mapreduce_client_core_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_mapreduce_client_jobclient_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_mapreduce_client_shuffle_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_yarn_api_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_yarn_client_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_yarn_common_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_hadoop_hadoop_yarn_server_common_2_6_5_jar.xml
/.idea/libraries/sbt__org_apache_httpcomponents_httpclient_4_5_4_jar.xml
/.idea/libraries/sbt__org_apache_httpcomponents_httpcore_4_4_7_jar.xml
/.idea/libraries/sbt__org_apache_ivy_ivy_2_4_0_jar.xml
/.idea/libraries/sbt__org_apache_orc_orc_core_1_4_1_nohive_jar.xml
/.idea/libraries/sbt__org_apache_orc_orc_mapreduce_1_4_1_nohive_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_column_1_8_2_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_common_1_8_2_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_encoding_1_8_2_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_format_2_3_1_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_hadoop_1_8_2_jar.xml
/.idea/libraries/sbt__org_apache_parquet_parquet_jackson_1_8_2_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_catalyst_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_core_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_hive_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_hive_thriftserver_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_kvstore_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_launcher_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_network_common_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_network_shuffle_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_sketch_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_sql_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_streaming_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_tags_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_spark_spark_unsafe_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_apache_thrift_libfb303_0_9_3_jar.xml
/.idea/libraries/sbt__org_apache_thrift_libthrift_0_9_3_jar.xml
/.idea/libraries/sbt__org_apache_xbean_xbean_asm5_shaded_4_4_jar.xml
/.idea/libraries/sbt__org_apache_zookeeper_zookeeper_3_4_6_jar.xml
/.idea/libraries/sbt__org_bouncycastle_bcprov_jdk15on_1_52_jar.xml
/.idea/libraries/sbt__org_codehaus_jackson_jackson_core_asl_1_9_13_jar.xml
/.idea/libraries/sbt__org_codehaus_jackson_jackson_jaxrs_1_9_13_jar.xml
/.idea/libraries/sbt__org_codehaus_jackson_jackson_mapper_asl_1_9_13_jar.xml
/.idea/libraries/sbt__org_codehaus_jackson_jackson_xc_1_9_13_jar.xml
/.idea/libraries/sbt__org_codehaus_janino_commons_compiler_3_0_8_jar.xml
/.idea/libraries/sbt__org_codehaus_janino_janino_3_0_8_jar.xml
/.idea/libraries/sbt__org_codehaus_jettison_jettison_1_1_jar.xml
/.idea/libraries/sbt__org_datanucleus_datanucleus_api_jdo_3_2_6_jar.xml
/.idea/libraries/sbt__org_datanucleus_datanucleus_core_3_2_10_jar.xml
/.idea/libraries/sbt__org_datanucleus_datanucleus_rdbms_3_2_9_jar.xml
/.idea/libraries/sbt__org_fusesource_leveldbjni_leveldbjni_all_1_8_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_external_aopalliance_repackaged_2_4_0_b34_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_external_javax_inject_2_4_0_b34_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_hk2_api_2_4_0_b34_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_hk2_locator_2_4_0_b34_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_hk2_utils_2_4_0_b34_jar.xml
/.idea/libraries/sbt__org_glassfish_hk2_osgi_resource_locator_1_0_1_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_core_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_core_jersey_client_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_core_jersey_common_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_core_jersey_server_2_22_2_jar.xml
/.idea/libraries/sbt__org_glassfish_jersey_media_jersey_media_jaxb_2_22_2_jar.xml
/.idea/libraries/sbt__org_htrace_htrace_core_3_0_4_jar.xml
/.idea/libraries/sbt__org_iq80_snappy_snappy_0_2_jar.xml
/.idea/libraries/sbt__org_javassist_javassist_3_18_1_GA_jar.xml
/.idea/libraries/sbt__org_jodd_jodd_core_3_5_2_jar.xml
/.idea/libraries/sbt__org_json4s_json4s_ast_2_11_3_2_11_jar.xml
/.idea/libraries/sbt__org_json4s_json4s_core_2_11_3_2_11_jar.xml
/.idea/libraries/sbt__org_json4s_json4s_jackson_2_11_3_2_11_jar.xml
/.idea/libraries/sbt__org_lz4_lz4_java_1_4_0_jar.xml
/.idea/libraries/sbt__org_mongodb_mongo_java_driver_3_8_0_jar.xml
/.idea/libraries/sbt__org_mongodb_spark_mongo_spark_connector_2_11_2_3_0_jar.xml
/.idea/libraries/sbt__org_mortbay_jetty_jetty_util_6_1_26_jar.xml
/.idea/libraries/sbt__org_objenesis_objenesis_2_1_jar.xml
/.idea/libraries/sbt__org_roaringbitmap_RoaringBitmap_0_5_11_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_4_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_11_1_0_5_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_compiler_2_11_12_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_11_12_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_11_12_jar.xml
/.idea/libraries/sbt__org_scala_lang_scalap_2_11_12_jar.xml
/.idea/libraries/sbt__org_slf4j_jcl_over_slf4j_1_7_16_jar.xml
/.idea/libraries/sbt__org_slf4j_jul_to_slf4j_1_7_16_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_25_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_log4j12_1_7_16_jar.xml
/.idea/libraries/sbt__org_sonatype_sisu_inject_cglib_2_2_1_v20090111_jar.xml
/.idea/libraries/sbt__org_spark_project_hive_hive_beeline_1_2_1_spark2_jar.xml
/.idea/libraries/sbt__org_spark_project_hive_hive_cli_1_2_1_spark2_jar.xml
/.idea/libraries/sbt__org_spark_project_hive_hive_exec_1_2_1_spark2_jar.xml
/.idea/libraries/sbt__org_spark_project_hive_hive_jdbc_1_2_1_spark2_jar.xml
/.idea/libraries/sbt__org_spark_project_hive_hive_metastore_1_2_1_spark2_jar.xml
/.idea/libraries/sbt__org_spark_project_spark_unused_1_0_0_jar.xml
/.idea/libraries/sbt__org_tukaani_xz_1_0_jar.xml
/.idea/libraries/sbt__org_xerial_snappy_snappy_java_1_1_2_6_jar.xml
/.idea/libraries/sbt__oro_oro_2_0_8_jar.xml
/.idea/libraries/sbt__stax_stax_api_1_0_1_jar.xml
/.idea/libraries/sbt__xerces_xercesImpl_2_9_1_jar.xml
/.idea/libraries/sbt__xml_apis_xml_apis_1_3_04_jar.xml
/.idea/libraries/sbt__xmlenc_xmlenc_0_52_jar.xml
/project/target/config-classes/$023aedb8a1a76202a06f$.class
/project/target/config-classes/$023aedb8a1a76202a06f.cache
/project/target/config-classes/$023aedb8a1a76202a06f.class
/project/target/config-classes/$1f37fe467b9c07e93982$.class
/project/target/config-classes/$1f37fe467b9c07e93982.cache
/project/target/config-classes/$1f37fe467b9c07e93982.class
/project/target/config-classes/$40150846021af5b24123$.class
/project/target/config-classes/$40150846021af5b24123.cache
/project/target/config-classes/$40150846021af5b24123.class
/project/target/config-classes/$4750ff920e579ffe6337$.class
/project/target/config-classes/$4750ff920e579ffe6337.cache
/project/target/config-classes/$4750ff920e579ffe6337.class
/project/target/config-classes/$4ddd96ba241c0ca18653$.class
/project/target/config-classes/$4ddd96ba241c0ca18653.cache
/project/target/config-classes/$4ddd96ba241c0ca18653.class
/project/target/config-classes/$510b79cb7fc49e4fa779$.class
/project/target/config-classes/$510b79cb7fc49e4fa779.cache
/project/target/config-classes/$510b79cb7fc49e4fa779.class
/project/target/config-classes/$62a965cd810fbc313ae7$.class
/project/target/config-classes/$62a965cd810fbc313ae7.cache
/project/target/config-classes/$62a965cd810fbc313ae7.class
/project/target/config-classes/$633411402fd85ef9a6f1$.class
/project/target/config-classes/$633411402fd85ef9a6f1.cache
/project/target/config-classes/$633411402fd85ef9a6f1.class
/project/target/config-classes/$77747524a5bace47455a$.class
/project/target/config-classes/$77747524a5bace47455a.cache
/project/target/config-classes/$77747524a5bace47455a.class
/project/target/config-classes/$84445d3ab30cd4357964$.class
/project/target/config-classes/$84445d3ab30cd4357964.cache
/project/target/config-classes/$84445d3ab30cd4357964.class
/project/target/config-classes/$84ff4ff817a59150076e$.class
/project/target/config-classes/$84ff4ff817a59150076e.cache
/project/target/config-classes/$84ff4ff817a59150076e.class
/project/target/config-classes/$8909dbddf0c20ea945c2$.class
/project/target/config-classes/$8909dbddf0c20ea945c2.cache
/project/target/config-classes/$8909dbddf0c20ea945c2.class
/project/target/config-classes/$aa3600b7f3df6b1a0303$.class
/project/target/config-classes/$aa3600b7f3df6b1a0303.cache
/project/target/config-classes/$aa3600b7f3df6b1a0303.class
/project/target/config-classes/$ac670a8a7dda86947016$.class
/project/target/config-classes/$ac670a8a7dda86947016.cache
/project/target/config-classes/$ac670a8a7dda86947016.class
/project/target/config-classes/$b9d2b8a8ef866baba990$.class
/project/target/config-classes/$b9d2b8a8ef866baba990.cache
/project/target/config-classes/$b9d2b8a8ef866baba990.class
/project/target/config-classes/$e2d26687a352ae710f91$.class
/project/target/config-classes/$e2d26687a352ae710f91.cache
/project/target/config-classes/$e2d26687a352ae710f91.class
/project/target/config-classes/$fe3fb73a3d0b42fe9e67$.class
/project/target/config-classes/$fe3fb73a3d0b42fe9e67.cache
/project/target/config-classes/$fe3fb73a3d0b42fe9e67.class
/.idea/modules.xml
/.idea/modules/sparkStructuredStreamingDemo.iml
/.idea/modules/sparkstructuredstreamingdemo-build.iml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/vcs.xml
/.idea/workspace.xml
/project/target/scala-2.12/sbt-1.0/classes/BuildEnvironmentsPlugin$.class
/project/target/scala-2.12/sbt-1.0/classes/BuildEnvironmentsPlugin$autoImport$.class
/project/target/scala-2.12/sbt-1.0/classes/BuildEnvironmentsPlugin.class
/project/target/scala-2.12/sbt-1.0/classes/sbt/sbt.autoplugins
/project/target/scala-2.12/sbt-1.0/resolution-cache/default/sgtest-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
/project/target/scala-2.12/sbt-1.0/resolution-cache/default/sgtest-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/default/sparkstructuredstreamingdemo-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
/project/target/scala-2.12/sbt-1.0/resolution-cache/default/sparkstructuredstreamingdemo-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-compile-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-compile.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-optional.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-plugin.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-pom.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-provided.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-runtime-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-runtime.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-scala-tool.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-test-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sgtest-build-test.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-compile-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-compile.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-optional.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-plugin.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-pom.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-provided.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-runtime-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-runtime.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-scala-tool.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-test-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-sparkstructuredstreamingdemo-build-test.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.css
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.xsl
/project/target/scala-2.12/sbt-1.0/resource_managed/main/sbt/sbt.autoplugins
/project/target/streams/$global/$global/$global/streams/out
/project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
/project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
/project/target/streams/$global/ivyConfiguration/$global/streams/out
/project/target/streams/$global/ivySbt/$global/streams/out
/project/target/streams/$global/projectDescriptors/$global/streams/out
/project/target/streams/$global/update/$global/streams/out
/project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
/project/target/streams/$global/update/$global/streams/update_cache_2.12/output
/project/target/streams/compile/$global/$global/discoveredMainClasses/data
/project/target/streams/compile/compile/$global/streams/out
/project/target/streams/compile/compileIncSetup/$global/streams/inc_compile_2.12.zip
/project/target/streams/compile/compileIncremental/$global/streams/export
/project/target/streams/compile/compileIncremental/$global/streams/out
/project/target/streams/compile/copyResources/$global/streams/copy-resources
/project/target/streams/compile/copyResources/$global/streams/out
/project/target/streams/compile/dependencyClasspath/$global/streams/export
/project/target/streams/compile/exportedProducts/$global/streams/export
/project/target/streams/compile/externalDependencyClasspath/$global/streams/export
/project/target/streams/compile/internalDependencyClasspath/$global/streams/export
/project/target/streams/compile/managedClasspath/$global/streams/export
/project/target/streams/compile/unmanagedClasspath/$global/streams/export
/project/target/streams/compile/unmanagedJars/$global/streams/export
/project/target/streams/runtime/dependencyClasspath/$global/streams/export
/project/target/streams/runtime/exportedProducts/$global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
/project/target/streams/runtime/fullClasspath/$global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
/project/target/streams/runtime/managedClasspath/$global/streams/export
/project/target/streams/runtime/unmanagedClasspath/$global/streams/export
/project/target/streams/runtime/unmanagedJars/$global/streams/export
